<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0FnPasojdDi27FkwFX-zV4l34ipZ30YI</string>
	<key>GCM_SENDER_ID</key>
	<string>213342165039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonetti.travel</string>
	<key>PROJECT_ID</key>
	<string>splitbase-7ec0f</string>
	<key>STORAGE_BUCKET</key>
	<string>splitbase-7ec0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213342165039:ios:03e18acd08537cda458eda</string>
</dict>
</plist>